set deploymentShare=<deployment_share_ip>
set foremanHost=<foreman_host_ip>

set wimagingRoot=x:\wimaging
set deployRoot=%wimagingRoot%\deploy
set utilsRoot=%wimagingRoot%\utils
set imageRoot=%wimagingRoot%\image
