:: reanme this file to "_config.cmd"
:: change this
set foremanHost=<foreman_hostiname_or_ip>

:: keep
set wimagingRoot=x:\wimaging
set deployRoot=%wimagingRoot%\deploy
set utilsRoot=%wimagingRoot%\utils
set imageRoot=%wimagingRoot%\image
