**/.DS_Store
**/*.wim*

images/*/work/*
images/*/captured/*
images/*/mount/*
images/*/save/*
images/*/vm/*
images/*/work/*

!sources/windows-pe-x64/*
!install/*template

tools/boot.root/wimaging/utils/*
tools/*/wimaging/log/*
tools/*/wimaging/log/*

install/drivers/*

tests/*

**/*_old*
**/_config.*
**/config.*

!.gitignore
!**/*.sample*
