:: Image Tools Config File
set logfile=c:\SetupDebug.log
set deployment=deployment.company.com
set username=domain\deployment-user
set password=Depl0ymntPass
set foremanserver=foreman.company.com
set dotnetsetupexe=\\%deployment%\deployment\dotnet\dotnetfx40_full_x86_x64.exe




