:: Image Tools Config File
set wimagingRoot=c:\wimaging
set deployRoot=%wimagingRoot%\deploy
set logfile=c:\wimaging\SetupDebug.log

:: Add %deployRoot% to the PATH
set PATH=%PATH%;%deployRoot%

:: foremanserver is now set by the pre-install script
:: and a new line is added here
